<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ mensaje }}</h1>
        <ul class="list-group">
            {% for i in personas %}
            <li class="list-group-item">
                {{ i.titulo }}
                <span>
                    {% if i.Stock %}
                    <span class="text-success"> Hay en Stock </span>
                    {% else %}
                    <span class="text-danger"> NO hay En Stock </span>
                    {% endif %}
                </span>
            </li>
            {%endfor%}
        </ul>
    </div>
{% endblock %}
{% load static %}
